# Preprocessing TLC data
This notebook cleans the following datasets: 
1. Yellow taxi data from 2023-06 to 2023-12
2. Green taxi data from 2023-06 to 2023-12

In [4]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sbs
import geopandas as gpd
import folium

In [5]:
from pyspark.sql import SparkSession

# Create a spark session with increased memory allocation
spark = (
    SparkSession.builder.appName("ADS Project1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "8g")  # Set the driver memory to 8GB
    .config("spark.executor.memory", "8g")  # Set the executor memory to 8GB
    .getOrCreate()
)

In [6]:
spark.conf.set("spark.sql.parquet.compression.codec","gzip")

In [7]:
# Read 2023 TLC data
df = spark.read.parquet('../data/landing/tlc_data/*.parquet')

In [8]:
# Read 2023-7 to 2023 yellow data
path = "../data/landing/tlc_data"
ydf_2023_7 = spark.read.parquet(path + "/Y-2023-07.parquet")
ydf_2023_8 = spark.read.parquet(path + "/Y-2023-08.parquet")
ydf_2023_9 = spark.read.parquet(path + "/Y-2023-09.parquet")
ydf_2023_10 = spark.read.parquet(path + "/Y-2023-10.parquet")
ydf_2023_11 = spark.read.parquet(path + "/Y-2023-11.parquet")
ydf_2023_12 = spark.read.parquet(path + "/Y-2023-12.parquet")

In [9]:
# Read 2023-7 to 2023-12 green data
path = "../data/landing/tlc_data"
gdf_2023_7 = spark.read.parquet(path + "/G-2023-07.parquet")
gdf_2023_8 = spark.read.parquet(path + "/G-2023-08.parquet")
gdf_2023_9 = spark.read.parquet(path + "/G-2023-09.parquet")
gdf_2023_10 = spark.read.parquet(path + "/G-2023-10.parquet")
gdf_2023_11 = spark.read.parquet(path + "/G-2023-11.parquet")
gdf_2023_12 = spark.read.parquet(path + "/G-2023-12.parquet")

## Data inspection

In [12]:
# Calculate the total row count for yellow taxi data from 2023-7 to 2023-12
yellow_count = (
    ydf_2023_7.count() +
    ydf_2023_8.count() +
    ydf_2023_9.count() +
    ydf_2023_10.count() +
    ydf_2023_11.count() +
    ydf_2023_12.count()
)

# Calculate the total row count for green taxi data from 2023-7 to 2023-12
green_count = (
    gdf_2023_7.count() +
    gdf_2023_8.count() +
    gdf_2023_9.count() +
    gdf_2023_10.count() +
    gdf_2023_11.count() +
    gdf_2023_12.count()
)

# Display the green count
print(f"The total green count is {green_count}.")

# Display the yellow count
print(f"The total yellow count is {yellow_count}.")

# Calculate the total row count for all taxi data from 2023-6 to 2023-12
total_count = yellow_count + green_count

# Display the total count
print(f"The total count is {total_count}.")

The total green count is 381880.
The total yellow count is 18816606.
The total count is 19198486.

In [13]:
# Get columns of each DataFrame
columns_ydf = set(ydf_2023_7.columns)
columns_gdf = set(gdf_2023_7.columns)

# Find differences in columns
columns_only_in_df1 = columns_ydf - columns_gdf
columns_only_in_df2 = columns_gdf - columns_ydf

print(f"Columns only in yellowDF: {columns_only_in_df1}")
print(f"Columns only in greenDF: {columns_only_in_df2}")

Columns only in yellowDF: {'tpep_dropoff_datetime', 'Airport_fee', 'tpep_pickup_datetime'}
Columns only in greenDF: {'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'trip_type', 'ehail_fee'}

In [14]:
# Report number of features in each DataFrame
print(f"Number of features in yellowDF: {len(ydf_2023_7.columns)}")
print(f"Number of features in greenDF: {len(ydf_2023_7.columns)}")

Number of features in yellowDF: 19
Number of features in greenDF: 19

## Data Cleaning

In [15]:
# combine the datasets 
ydfs = [ydf_2023_7, ydf_2023_8, ydf_2023_9, ydf_2023_10, ydf_2023_11, ydf_2023_12]
gdfs = [gdf_2023_7, gdf_2023_8, gdf_2023_9, gdf_2023_10, gdf_2023_11, gdf_2023_12]

In [16]:
from pyspark.sql import DataFrame
from functools import reduce

# Function to union two DataFrames
def union_dfs(df1, df2):
    return df1.unionByName(df2)

# Combine all yellow taxi data
yellow_combined = reduce(union_dfs, ydfs)

# Combine all green taxi data
green_combined = reduce(union_dfs, gdfs)

### Unify the columns of the two dataframes

In [17]:
# Drop Airport_fee and trip_type columns from the combined data
yellow_combined = yellow_combined.drop("Airport_fee")
green_combined = green_combined.drop("trip_type")

# Set ehail_fee to 0 for yellow taxi data
yellow_combined = yellow_combined.withColumn("ehail_fee", lit(0))

tpep: Taxicab Passenger Enhancement Program for yellow taxi <br> 
lpep: Livery Passenger Enhancement Program for green taxi

In [18]:
# Rename datetime columns to be consistent
from pyspark.sql.functions import col

yellow_combined = yellow_combined.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
                               .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

green_combined = green_combined.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
                             .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

### Combine yellow and green taxi data

In [19]:
# Combine yellow and green taxi data
combined = yellow_combined.unionByName(green_combined)

### Anomaly handling 1
Filter out anomaly with business logic

In [20]:
# print the schema of the combined data
combined.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp_ntz (nullable = true)
 |-- dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- ehail_fee: double (nullable = true)

In [21]:
from pyspark.sql.functions import min, max

columns_to_check = [
    'passenger_count', 
    'trip_distance', 
    'fare_amount', 
    'extra', 
    'mta_tax', 
    'tip_amount', 
    'tolls_amount', 
    'improvement_surcharge',
    'total_amount',
    'congestion_surcharge',
    'ehail_fee'
]

# Create a dictionary to store min and max for each column
min_max_dict = {col: df.agg(min(col).alias(f"min_{col}"), max(col).alias(f"max_{col}")).collect()[0] for col in columns_to_check}

# Print the results
for col, values in min_max_dict.items():
    print(f"{col}: Min = {values[f'min_{col}']}, Max = {values[f'max_{col}']}")

Java HotSpot(TM) 64-Bit Server VM warning: CodeCache is full. Compiler has been disabled.
Java HotSpot(TM) 64-Bit Server VM warning: Try increasing the code cache size using -XX:ReservedCodeCacheSize=

CodeCache: size=131072Kb used=28908Kb max_used=29045Kb free=102164Kb
 bounds [0x00000001061e8000, 0x0000000107ea8000, 0x000000010e1e8000]
 total_blobs=11424 nmethods=10439 adapters=897
 compilation: disabled (not enough contiguous free space left)
passenger_count: Min = 0, Max = 9
trip_distance: Min = 0.0, Max = 345729.44
fare_amount: Min = -1087.3, Max = 386983.63
extra: Min = -39.17, Max = 10002.5
mta_tax: Min = -0.5, Max = 52.09
tip_amount: Min = -330.88, Max = 4174.0
tolls_amount: Min = -91.3, Max = 1702.88
improvement_surcharge: Min = -1.0, Max = 1.0
total_amount: Min = -1094.05, Max = 386987.63
congestion_surcharge: Min = -2.75, Max = 2.75
ehail_fee: Min = None, Max = None

In [22]:
from pyspark.sql.functions import col

# Apply all filters in a single chain
combined = combined.filter(
    # Filter out rows with passenger count greater than 6 or less than 1
    (col("passenger_count").between(1, 6)) &
    # Filter out rows with fare amount less than 3
    (col("fare_amount") >= 3) &
    # Filter out rows with trip distance less than 0.5 miles 
    (col("trip_distance") >= 0.5) &
    # Filter out rows with tip amount less than 0 
    (col("tip_amount") >= 0) &
    # Filter out rows with tolls amount less than 0
    (col("tolls_amount") >= 0) &
    # Filter out rows with extra amount less than 0
    (col("extra") >= 0) &
    # Filter out mtax_tax less than 0
    (col("mta_tax") >= 0) &
    # Filter out rows with improvement surcharge less than 0
    (col("improvement_surcharge") >= 0) &
    # Filter out rows with total amount less than 3
    (col("total_amount") >= 3) &
    # Filter out rows with congestion surcharge less than 0
    (col("congestion_surcharge") >= 0) &
    # Filter the pick up datetime to between 2023-06 to 2024-05
    (col("pickup_datetime").between("2023-06-01 00:00:00", "2024-05-31 00:00:00")) &
    # Filter the drop off datetime to between 2023-06 to 2024-05
    (col("dropoff_datetime").between("2023-06-01 00:00:00", "2024-05-31 00:00:00"))

)

### Data type conversion

In [23]:
# Convert 'store_and_fwd_flag' to boolean
combined = combined.withColumn("store_and_fwd_flag", when(col("store_and_fwd_flag") == "Y", True).otherwise(False))

In [24]:
# Step 1: Convert pickup and dropoff timestamps to string format
combined = combined.withColumn("pickup_str", F.col("pickup_datetime").cast("string"))
combined = combined.withColumn("dropoff_str", F.col("dropoff_datetime").cast("string"))

# Step 2: Convert the strings back to timestamps
combined = combined.withColumn("pickup_ts", F.to_timestamp("pickup_str"))
combined = combined.withColumn("dropoff_ts", F.to_timestamp("dropoff_str"))

# Step 3: Convert the timestamps to long (Unix epoch seconds)
combined = combined.withColumn("pickup_long", F.col("pickup_ts").cast("long"))
combined = combined.withColumn("dropoff_long", F.col("dropoff_ts").cast("long"))

# Step 4: Calculate the trip duration in minutes
combined = combined.withColumn("trip_duration", F.round((F.col("dropoff_long") - F.col("pickup_long")) / 60))

# Drop intermediate columns if no longer needed
combined = combined.drop("pickup_str", "dropoff_str", "pickup_ts", "dropoff_ts", "pickup_long", "dropoff_long")

# Show the result
combined.show(5)

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+---------+-------------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|ehail_fee|trip_duration|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+---------+-------------+
|       1|2023-07-01 00:29:59|2023-07-01 00:40:15|              1|          1.8|         1|             false|         140|         263|           1|       12.1|  3.5|    0.5|       5.1|         0.0|                  1.0|        22.2|                 2.5|      0.0|         10.0|
|       2|2023-07-01 00:03:25|2023-07-01 00:23:44|              1|         2.31|         1|             false|         163|         163|           2|       19.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.1|                 2.5|      0.0|         20.0|
|       2|2023-07-01 00:38:29|2023-07-01 00:48:53|              1|         2.36|         1|             false|         142|         262|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|      0.0|         10.0|
|       2|2023-07-01 00:14:16|2023-07-01 00:29:13|              1|         4.36|         1|             false|          68|          24|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|      0.0|         15.0|
|       2|2023-07-01 00:29:32|2023-07-01 00:54:14|              1|         8.67|         1|             false|         138|         186|           1|       38.7|  6.0|    0.5|       7.0|        6.55|                  1.0|        64.0|                 2.5|      0.0|         25.0|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+---------+-------------+
only showing top 5 rows

In [25]:
# check datatypes
combined.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp_ntz (nullable = true)
 |-- dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: boolean (nullable = false)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- trip_duration: double (nullable = true)

From Northern end of bronx to southern end of staten island is below 50 miles </br>
2 hours should be sufficient for travel

In [26]:
from pyspark.sql.functions import col as pyspark_col
# Define the max and min values for each column
min_max_values = {
    "trip_duration": (1, 120),
    "trip_distance": (0.5, 50)
}

# Filter out rows with trip duration greater than 120 minutes and less than 1 minute
combined = combined.filter(
    pyspark_col("trip_duration").between(min_max_values["trip_duration"][0], min_max_values["trip_duration"][1])
)

# Filter out rows with trip distance greater than 50 miles 
combined = combined.filter(
    pyspark_col("trip_distance") <= min_max_values["trip_distance"][1]
)

### Handling missing values & duplicates

In [27]:
# Drop dulicate rows
combined = combined.dropDuplicates()

In [28]:
# Drop rows with missing values
combined = combined.dropna()

### Anomaly handling by statistics

In [29]:
# keep 99% quantile of total_amount
total_amount_quantile = combined.approxQuantile("total_amount", [0.99], 0.01)[0]
combined = combined.filter(pyspark_col("total_amount") <= total_amount_quantile)

### Data cleaning outcomes

In [30]:
# check the percentage of rows that remain after filtering
original_count = total_count
filtered_count = combined.count()
percentage_remaining = (filtered_count / original_count) * 100

print(f"Number of rows remaining after filtering: {filtered_count}")
print(f"Percentage of rows remaining after filtering: {percentage_remaining:.2f}%")

Number of rows remaining after filtering: 16660730
Percentage of rows remaining after filtering: 86.78%

## Feature Engineering

### Temporal Features

In [31]:
# round time to hour for pickup_datetime and dropoff_datetime
combined = combined.withColumn("pickup_hour", F.hour("pickup_datetime"))
combined = combined.withColumn("dropoff_hour", F.hour("dropoff_datetime"))

In [32]:
# extract date from pickup_datetime and dropoff_datetime
combined = combined.withColumn("pickup_date", F.to_date("pickup_datetime"))
combined = combined.withColumn("dropoff_date", F.to_date("dropoff_datetime"))

# drop pickup_datetime and dropoff_datetime
combined = combined.drop("pickup_datetime", "dropoff_datetime")

## Export file to raw folder

In [33]:
# rearrange columns
tlc_df = combined.select(
    "VendorID",
    "store_and_fwd_flag",
    "RatecodeID",
    "PULocationID",
    "DOLocationID",
    "passenger_count",
    "trip_distance",
    "fare_amount",
    "extra",
    "mta_tax",
    "tip_amount",
    "tolls_amount",
    "improvement_surcharge",
    "total_amount",
    "payment_type",
    "congestion_surcharge",
    "pickup_hour",
    "dropoff_hour",
    "pickup_date",
    "dropoff_date",
    "trip_duration",
    "ehail_fee"
)

In [34]:
# export the combined data to parquet
combined.write.mode("overwrite").parquet("../data/raw/tlc_df.parquet")