# Preprocess Weather Data

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sbs
import geopandas as gpd
import folium

In [4]:
# Read NYC weather data 
wdata_2023 = pd.read_csv('../data/landing/external/NYC_weather_2023.csv')
wdata_2024 = pd.read_csv('../data/landing/external/NYC_weather_2024.csv')

/var/folders/gf/ml3nsztn0cb376sq34z0ll1r0000gn/T/ipykernel_32240/2561988319.py:2: DtypeWarning: Columns (36,42,43,48,52,88) have mixed types. Specify dtype option on import or set low_memory=False.
  wdata_2023 = pd.read_csv('../data/landing/external/NYC_weather_2023.csv')

In [5]:
wdata_2023

,STATION,DATE,SOURCE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,...,OD1,OE1,OE2,OE3,RH1,RH2,RH3,WA1,REM,EQD
0,72505394728,2023-01-01T00:06:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-16,KNYC,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET11812/31/22 19:06:03 SPECI KNYC 010006Z 000...,NaN
1,72505394728,2023-01-01T00:18:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-16,KNYC,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10612/31/22 19:18:03 SPECI KNYC 010018Z 030...,NaN
2,72505394728,2023-01-01T00:31:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-16,KNYC,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET11112/31/22 19:31:03 SPECI KNYC 010031Z 000...,NaN
3,72505394728,2023-01-01T00:44:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-16,KNYC,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10212/31/22 19:44:03 SPECI KNYC 010044Z 000...,NaN
4,72505394728,2023-01-01T00:49:00,6,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-16,KNYC,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET09712/31/22 19:49:03 SPECI KNYC 010049Z 000...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11837,72505394728,2023-12-31T19:51:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,KNYC,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET09612/31/23 14:51:02 METAR KNYC 311951Z 270...,NaN
11838,72505394728,2023-12-31T20:51:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,KNYC,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10112/31/23 15:51:02 METAR KNYC 312051Z 260...,R01 067TMP046R02 M047DPT046
11839,72505394728,2023-12-31T21:51:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,KNYC,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET18812/31/23 16:51:02 METAR KNYC 312151Z 280...,NaN
11840,72505394728,2023-12-31T22:51:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,KNYC,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10512/31/23 17:51:02 METAR KNYC 312251Z 310...,NaN
11841,72505394728,2023-12-31T23:51:00,7,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,KNYC,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET12212/31/23 18:51:02 METAR KNYC 312351Z 000...,NaN

In [8]:
wdata_2024.show(10)

AttributeError: 'DataFrame' object has no attribute 'show'

In [10]:
wdata.tail(10)

                              NY CITY CENTRAL PARK, NY US (USW00094728)
2024-08-09 NaN 80 70 0.11 0.0                                       0.0
2024-08-10 NaN 85 73 0.00 0.0                                       0.0
2024-08-11 NaN 80 69 0.00 0.0                                       0.0
2024-08-12 NaN 81 66 0.00 0.0                                       0.0
2024-08-13 NaN 81 64 0.00 0.0                                       0.0
2024-08-14 NaN 85 67 0.00 0.0                                       0.0
2024-08-15 NaN 86 68 0.00 0.0                                       0.0
2024-08-16 NaN 87 70 0.00 0.0                                       0.0
2024-08-17 NaN 79 67 0.04 0.0                                       0.0
2024-08-18 NaN 81 69 2.29 0.0                                       0.0

In [9]:
# Convert the 'Date' column to datetime format
wdata['Date'] = pd.to_datetime(wdata['Date'])

# Filter data between June 2023 and May 2024
wdata = wdata[(wdata['Date'] >= '2023-06-01') & (wdata['Date'] <= '2024-05-31')]

KeyError: 'Date'