# Preprocess Weather Data

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sbs
import geopandas as gpd
import folium

In [2]:
# Read NYC weather data 
wdata = pd.read_csv('../data/landing/external/NYC weather.csv')
wdata.head(10)

                                                                                                                     NY CITY CENTRAL PARK, NY US (USW00094728)
Date       TAVG (Degrees Fahrenheit) TMAX (Degrees Fahrenheit) TMIN (Degrees Fahrenheit) PRCP (Inches) SNOW (Inches)                             SNWD (Inches)
1869-01-01 NaN                       29                        19                        0.75          9.0                                                 NaN
1869-01-02 NaN                       27                        21                        0.03          0.0                                                 NaN
1869-01-03 NaN                       35                        27                        0.00          0.0                                                 NaN
1869-01-04 NaN                       37                        34                        0.18          0.0                                                 NaN
1869-01-05 NaN                       43                        37                        0.05          0.0                                                 NaN
1869-01-06 NaN                       38                        34                        0.00          0.0                                                 NaN
1869-01-07 NaN                       48                        35                        0.00          0.0                                                 NaN
1869-01-08 NaN                       54                        40                        0.00          0.0                                                 NaN
1869-01-09 NaN                       48                        38                        0.00          0.0                                                 NaN

In [3]:
wdata.tail(10)

                              NY CITY CENTRAL PARK, NY US (USW00094728)
2024-08-08 NaN 70 65 0.36 0.0                                       0.0
2024-08-09 NaN 80 70 0.11 0.0                                       0.0
2024-08-10 NaN 85 73 0.00 0.0                                       0.0
2024-08-11 NaN 80 69 0.00 0.0                                       0.0
2024-08-12 NaN 81 66 0.00 0.0                                       0.0
2024-08-13 NaN 81 64 0.00 0.0                                       0.0
2024-08-14 NaN 85 67 0.00 0.0                                       0.0
2024-08-15 NaN 86 68 0.00 0.0                                       0.0
2024-08-16 NaN 87 70 0.00 0.0                                       0.0
2024-08-17 NaN 79 67 0.04 0.0                                       0.0